
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/GenelLayout.cshtml";
}

<div class="col-xs-9 banner-body-right">
    <div class="gallery-head">
        <h5>Bloglar</h5>
        <p>Bu alanda istediğiniz yiyeceğin veya içeceğin tarihine kullanım alanlarına
        ait yazılmış kalteli ve deneyimli bloglar yer almaktadır bloglarımızı
        okuyup degerlendirmeniz bizim için önemlidir. </p>
    </div>
    <div class="blog">
        <div class="blog-grid">
            <div class="col-xs-4 blog-grid-left">
                <a href="single.html"><img src="/tema1/images/1.jpg" alt=" " class="img-responsive" /></a>
            </div>
            <div class="col-xs-8 blog-grid-right">
                <h4><a href="single.html">1 numaralı yiyeceğe ait blog başlığı</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                </p>
                <a href="single.html"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="blog-grid">
            <div class="col-xs-4 blog-grid-left">
                <a href="single.html"><img src="/tema1/images/2.jpg" alt=" " class="img-responsive" /></a>
            </div>
            <div class="col-xs-8 blog-grid-right">
                <h4><a href="single.html">2 numaralı yiyeceğe ait blog başlığı</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                </p>
                <a href="single.html"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="blog-grid">
            <div class="col-xs-4 blog-grid-left">
                <a href="single.html"><img src="/tema1/images/3.jpg" alt=" " class="img-responsive" /></a>
            </div>
            <div class="col-xs-8 blog-grid-right">
                <h4><a href="single.html">3 numaralı yiyeceğe ait blog başlığı</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                </p>
                <a href="single.html"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="msg-text-bottom">
        <div class="col-md-4 msg-text-bottom-left">
        </div>
      
        <div class="clearfix"> </div>
    </div>
</div>

