
@{
    ViewData["Title"] = "DiyetYemek";
    Layout = "~/Views/Shared/GenelLayout.cshtml";
}

<div class="msg-text-bottom">
    <div class="col-md-4 msg-text-bottom-left">
        <figure class="effect-winston">
            <a href="single.html">
                <img src="/tema1/images/4.jpg" alt=" " class="img-responsive" />
                <figcaption>
                </figcaption>
            </a>
        </figure>

        <h3><a href="single.html">Zeytinyağlı Brüksel Lahanası</a></h3>
            <ul>
                <li>500 gr Brüksel lahanası</li>
                <li>1 havuç</li>
                <li>½ soğan</li>
                <li>1 çay kaşığı bal</li>
                <li>3 bardak sıcak su</li>
                <li>½ çay bardağı zeytinyağı</li>
                <li>1 tatlı kaşığı tuz</li>
            </ul>
        <hr />
        <p style="color: rosybrown;">Yapılışı: Yemeklik doğranan soğanlar ısıtılmış zeytinyağında sararana dek kavrulur. 
        Soğanlar sarardığında ince yemeklik doğranmış havuçlar eklenir ve 5 dakika daha kavrulur. 
        Lahanalar ile beraber tuz ve bal da ilave edilip biraz daha karıştırılır. 
        Sıcak su ilave edilir ve sebzeler yumuşayınca servis edilir. Afiyet olsun.</p>
    </div>
    <div class="col-md-4 msg-text-bottom-left">
        <figure class="effect-winston">
            <a href="single.html">
                <img src="/tema1/images/5.jpg" alt=" " class="img-responsive" />
                <figcaption>
                </figcaption>
            </a>
        </figure>
        <h3><a href="single.html">Fırında Kabak</a></h3>

        <ul>
            <li> 2 adet kabak</li>
            <li> ½ çay kaşığı pul biber,tuz,nane</li>
            <li>2 yemek kaşığı zeytinyağı</li>
            <li>½ adet ezilmiş sarımsak</li>
            <li>½ çay bardağı zeytinyağı</li>
            <li>1 su bardağı yoğurt</li>
            <li>1 yemek kaşığı ince doğranmış dereotu</li>
        </ul>
        <hr />
        <p style="color: rosybrown;">
            Yapılışı: Kabaklar yıkanır ve kurulanıp 3-4 cm kalınlığında yuvarlak halde kesilir.
            Kesilen kabaklar kekik, nane, pul biber, tuz ve zeytinyağı ile karıştırılıp 200 derece
            fırına atılır. Yoğurt ve ezilmiş sarımsak iyice karıştırılır.
            Fırından hafif kızarmış ve yumuşamış kabaklar çıkartılıp tabağa alınır.
            Kabakların üzerine sarımsaklı yoğurt gezdirilir ve ince doğranmış semizotu serpilir.
            Afiyet olsun.
        </p>
    </div>
    <div class="col-md-4 msg-text-bottom-left">
        <figure class="effect-winston">
            <a href="single.html">
                <img src="/tema1/images/6.jpg" alt=" " class="img-responsive" />
                <figcaption>
                </figcaption>
            </a>
        </figure>
        <h3><a href="single.html">Karnabahar Pilavı</a></h3>

        <ul>
            <li>½ karnabahar</li>
            <li>1 adet kırmızı kapya biber</li>
            <li>1 adet havuç</li>
            <li>1 yemek kaşığı ince kıyılmış maydanoz</li>
            <li>1 yemek kaşığı zeytinyağı</li>
            <li>½ çay bardağı zeytinyağı</li>
            <li>1 çay kaşığı kimyon</li>
        </ul>
        <hr />
        <p style="color:rosybrown">
            Yapılışı: Karnabahar yıkanıp köklerinden ayıklanır ve taneli şekilde olana dek rondoda çekilir.
            Zeytinyağı bir tencerede ısıtılır ve önce ince küp doğranmış havuç kavrulur.
            Havuçlar yumuşamaya başladığında ince küp kaypa biberler atılır ve kavurmaya devam edilir.
            Havuç ve biber yumuşadığında çekilen karnabahar ilave edilir ve tuz ile baharatlarla beraber
            karıştırılır. Kapağı kapatılıp yumuşayana dek pişirilir,
            piştiğinde üzerine maydanoz serpilip servis edilir. Afiyet olsun.
        </p>
    </div>
    <div class="clearfix"> </div>
</div>

