
@{
    ViewData["Title"] = "OzelMenu";
    Layout = "~/Views/Shared/GenelLayout.cshtml";
}
<hr />
<h1 style="color:burlywood; text-align:center;">Özel Menü Önerileri</h1>
<hr />
<p style="color: black; background-color: gainsboro; height: 35px; text-align: center; ">Misafirleriniz için aradığınız farklı ama lezzetli yemekler için menülere göz atın..</p>
<div>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th style="color:burlywood;">Çorba</th>
            <th style="color:burlywood;">Arasıcak</th>
            <th style="color:burlywood;">Anayemek</th>
            <th style="color:burlywood;">Tatlı</th>
            <th></th>
        </tr>
        <tr>
            <td>Terbiyeli Mantar Çorbası</td>
            <td>Zade Kebabı</td>
            <td>Şehzade Pilavı</td>
            <td>Supangle</td>
            <td><img src="/tema1/tema1/yemek/mant.jpg" alt=" " style="width:100px; height:100px;" /></td>
        </tr>
        <tr>
            <td>Yayla Çorbası</td>
            <td>İsveç Köftesi</td>
            <td>Pirinç Pilavı</td>
            <td>Çilek soslu irmik tatlısı</td>
            <td><img src="/tema1/tema1/yemek/zade.jpg" alt=" " style="width:100px; height:100px;" /></td>
        </tr>
        <tr>
            <td>Cennet Çorbası</td>
            <td>Tavuk Kapama</td>
            <td>Havumlu tarator</td>
            <td>Sufle</td>
            <td><img src="/tema1/tema1/yemek/sehz.jpg" alt=" " style="width:100px; height:100px;" /></td>
        </tr>
        <tr>
            <td>Kremalı Sebze Çorbası</td>
            <td>Karnabahar Graten</td>
            <td>Fırında Makarna</td>
            <td>İrmik Helvası</td>
            <td><img src="/tema1/tema1/yemek/sup.jpg" alt=" " style="width:100px; height:100px;" /></td>
        </tr>
    </table>
</div>
