
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Ücretsiz Responsive Temalar" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/tema1/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/tema1/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js  burası slider -->
    <script src="/tema1/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- banner-body -->
    <div class="banner-body">
        <div class="container">
            <div class="banner-body-content">
                <div class="col-xs-3 banner-body-left">
                    <div class="logo">
                        <h1><a href="index.html">Damak<span>Tadım</span></a></h1>
                    </div>
                    <div class="top-nav">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">navigasyon</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                                <nav class="stroke">
                                    <ul class="nav navbar-nav">
                                        <li><a href="~/Anasayfa/Index" class="hvr-underline-from-left"><i class="home1"></i>Anasayfa</a></li>
                                        <li><a href="~/Fotograflar/Index" class="hvr-underline-from-left"><i class="picture1"></i>Fotoğraflar</a></li>
                                        <li><a href="~/Blogs/Index" class="hvr-underline-from-left"><i class="edit1"></i>Bloglar</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                    </div>
                </div>
                <div class="col-xs-9 banner-body-right">
                    <div class="wmuSlider example1">
                        <div class="wmuSliderWrapper">
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="banner-wrap">
                                    <div class="banner">
                                    </div>
                                </div>
                            </article>
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="banner-wrap">
                                    <div class="banner1">
                                    </div>
                                </div>
                            </article>
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="banner-wrap">
                                    <div class="banner2">
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <script src="/tema1/js/jquery.wmuSlider.js"></script>
                    <script>
						$('.example1').wmuSlider();
                    </script>
                    <div class="banner-bottom">
                        <div class="col-md-4 banner-left">
                            <div class="col-xs-3 banner-left1">
                                <div class="banner-left11">
                                    <span> </span>
                                </div>
                            </div>
                            
                            <div class="col-xs-9 banner-right1">
                                <h3>Deniz Ürünleri</h3>
                            </div>
                            <div class="clearfix"> </div>
                            <p>
                                Tüketildiğinde,
                                Bağışıklık sistemini korur
                                Omega3 deposudur.
                            </p>
                        </div>
                        <div class="col-md-4 banner-left">
                            <div class="col-xs-3 banner-left1">
                                <div class="banner-left22">
                                    <span> </span>
                                </div>
                            </div>
                            <div class="col-xs-9 banner-right1">
                                <h3>Anayemek Sebzeler</h3>
                            </div>
                            <div class="clearfix"> </div>
                            <p>
                                Sebzelerde bulunan yüksek lif sizi tok tutar,
                                kan şekerini ve kolesterolü dengeler.
                            </p>
                        </div>
                        <div class="col-md-4 banner-left">
                            <div class="col-xs-3 banner-left1">
                                <div class="banner-left33">
                                    <span> </span>
                                </div>
                            </div>
                            <div class="col-xs-9 banner-right1">
                                <h3>İçecekler</h3>
                            </div>
                            <div class="clearfix"> </div>
                            <p>
                                Günde 2 fincan içilecek kahvenin 9 farklı kanser türüne
                                iyi geldiği saptanmıştır , Yeşil çaylarsa vücut için antioksidan özelliği taşıyor
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="col-xs-3 banner-body-left">
                    <div class="latest-news">
                        <h2>Menüler</h2>
                        @*<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Evde ne var ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        Akşam ne yemek yapacağınızı bulamadığınız zamanlarda evdeki malzemeleri sisteme girerek size yapılabilecek yemekleri sıralamaktadır.
                                    </div>
                                    <div class="join">
                                        <a href="~/Anasayfa/Index">Evde Ne Var ?</a>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Özel Menüler
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Özel misafirler için oluşturabileceğiniz farklı menülere ulaşabilirsiniz.
                                    </div>
                                    <div class="join">
                                        <a href="~/Fotograflar/OzelMenu">Özel Menüler</a>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Diyet yemekler
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Kalori bakımından düşük ve forma kalabileceğiniz farklı menüler yer almaktadır.
                                    </div>
                                    <div class="join">
                                        <a href="~/Fotograflar/DiyetYemek">Diyet Yemekler</a>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>*@
                       
                        <h3>Damak Tadım</h3>
                        <p>Sizin için oluşturduğumuz sitede besinler yiyecek ve içecekler hakkında bilgilere ulaşabilir,
                        akşam ne pişirsem diye düşündüğünüz anlarda evdeki malzemelerle size sunulan seçenekleri değerelendirebilir,
                        misafirleriniz için oluşturulmuş özel menüleri inceleyebilir ve diyet yemekler bölümünden farklı yiyecekler ile formda kalabilirsiniz..:)</p>
                    </div>
                </div>
                <div class="col-xs-9 banner-body-right">
                    <!-- single -->
                    @RenderBody()
                    <!-- //single -->
                </div>
                <div class="clearfix"> </div>
                <div class="footer">
                    <!--//burası sosyal medya alanlarının yeri en altta yer alanlar.-->
                    <div class="footer-right">
                        <ul class="social-nav model-3">
                            <li><a href="#" class="icon icon-border facebook"></a></li>
                            <li><a href="#" class="icon icon-border twitter"></a></li>
                            <li><a href="#" class="icon icon-border googleplus"></a></li>
                            <li><a href="#" class="icon icon-border github"></a></li>
                            <li><a href="#" class="icon icon-border rss"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- //banner-body -->
    <!-- for bootstrap working -->
    <script src="/tema1/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
</body>
</html>
